.banner {
  background-color: var(--color-primary);
  height: 75px;
  z-index: 50;
}

.card {
  overflow: hidden;
  position: relative;
  transform: translateY(0);
  transition: all 0.8s;
}

.card::before {
  content: "";
  position: absolute;
  width: 20px;
  left: calc(50% - 10px);
  top: calc(50% - 50vh);
  background-color: var(--color-white);
  transform-origin: center center;
  transform: rotate(0deg);
  z-index: 0;
  opacity: 0;
  height: 100vh;
}

.card:hover {
  transform: translateY(-15px);
}

.card:hover::before {
  animation-name: roll;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  opacity: 1;
}

@keyframes roll {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
