.section {
  background-color: var(--color-primary);
}
.sectionContainer {
  background-color: var(--color-bg-one);
  /* clip-path: polygon(
    0 0,
    5% 0,
    5% 40px,
    15% 40px,
    15% 0,
    25% 0,
    25% 40px,
    35% 40px,
    35% 0,
    45% 0,
    45% 40px,
    55% 40px,
    55% 0,
    65% 0,
    65% 40px,
    75% 40px,
    75% 0,
    85% 0,
    85% 40px,
    95% 40px,
    95% 0,
    100% 0,
    100% 100%,
    0% 100%
  ); */
}

.header {
  font-size: 3rem;
}

.header span {
  border-bottom: 4px solid var(--color-primary);
}
